@using MovieCheck.Site.Models.ViewModels;

@{
    ViewData["Title"] = "Filmes";
    string tipoMensagem = (string.IsNullOrEmpty(ViewBag.TipoMensagem) ? "" : ViewBag.TipoMensagem);
    string mensagem = (string.IsNullOrEmpty(ViewBag.Mensagem) ? "" : ViewBag.Mensagem);
    string movieListClass = "";
    string messageClass = "";
    string iconClass = "";
    IList<FilmeViewModel> listaFilmeViewModel = ViewBag.ListaFilmeViewModel;

    if (string.IsNullOrEmpty(mensagem))
    {
        movieListClass = "movieList";
        messageClass = "message hidden";
    }
    else
    {
        movieListClass = "movieList hidden";
        messageClass = "message";
        iconClass = $"fa fa-{(tipoMensagem == "Sucesso" ? "check" : "times")}";
    }

}

<section class="mainContainer movieListContainer">
    <h2>Selecione o filme</h2>
    <div class="@movieListClass">
        @if (!(Model is null) && Model.Count > 0)
        {
            @foreach (FilmeViewModel viewModel in @Model)
            {
                <div class="row">
                    <img class="icon" src="@viewModel.IconeMidia" alt="@viewModel.TipoMidia">
                    <img class="movieCover" src="@viewModel.Poster" alt="@viewModel.Titulo">
                    <p>@viewModel.Titulo</p>
                    <button onclick="showInfo(@viewModel.Id)">Info</button>
                </div>
            }
        }

        <a asp-controller="Home" asp-action="Index"><button>Voltar ao painel do cliente</button></a>
    </div>

    <div class="@messageClass">
        <i class="@iconClass"></i>
        <p>@mensagem</p>
        <p><a asp-controller="Home" asp-action="Main">Clique aqui</a> para voltar à página inicial. </p>
    </div>
</section>

<section class="mainContainer movieListContainer">
    @if (!(Model is null) && Model.Count > 0)
    {
        @foreach (FilmeViewModel viewModel in @Model)
        {
            <div class="movie hidden" id="@viewModel.Id.ToString()">
                <div class="header">
                    <img class="movieCover" src="@viewModel.Poster" alt="@viewModel.Titulo">
                    <h2>@viewModel.Titulo</h2>
                    <img class="icon" src="@viewModel.IconeMidia" alt="@viewModel.TipoMidia">
                </div>
                <div class="body">
                    <p>Ano de lançamento: @viewModel.Ano.ToString()</p>
                    <p>Classificação: @viewModel.ClassificacaoIndicativa</p>
                    <p> Gênero(s): @viewModel.Generos </p>
                    <p>Elenco: @viewModel.Atores </p>
                    <p>Diretor(es): @viewModel.Diretores</p>
                    <div class="text">
                        <p>Sinopse</p>
                        <p>@viewModel.Sinopse</p>
                    </div>
                </div>
                <div class="footer">
                    <p>Situação: @viewModel.Situacao</p>
                    @if (viewModel.Disponivel())
                    {
                        <form asp-controller="Movie" asp-action="ReservarFilme" method="POST">
                            <input type="hidden" name="idMovie" value="@viewModel.Id">
                            <button type="submit">Reservar filme</button>
                        </form>
                    }
                </div>
            </div>
        }
    }

</section>

<script src="~/js/jquery-1.7.2.min.js"></script>
<script src="~/js/script.js"></script>
